

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
 
  
}
.oiseauAccueil{

  rotate: 180deg;
  width : 400px;
height : 400px;
}
.fontAccueil{
 
  
}.partiedroite{
  width: 55%;
 
}
.partiegauche{
  background-image: url("../public/font3.png");
 height: 100vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oiseauLogoAccueil{
  rotate: 180deg;
  width : 100px;
  height : 100px;
  
}
.bouttonSign{
  margin-left: 50px;
}
.signUp{
  position: absolute;
  top :4000px;
  left : 200px;
  width : 100px;
  height : 100px;
  background-color: beige;
}