.container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.input {
  background-color: transparent;
  border: transparent;
  border-radius: 0;
  font-weight: 400;
  border-bottom: solid 1px #566270;
  color: #566270;
}

.input::placeholder {
  font-size: 18px;
  color: #566270;
}

.input:hover {
  background-color: transparent;
}

.TextArea_input__placeholder {
  color: red;
}

.btngroup {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  margin-top: 16px;
}

.btngroup p {
    font-size: 12px;
}
.primarybtn {
  background-color: #3f9af0;
  border-radius: 16px;
  padding: 6px 20px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border: transparent;
  width: fit-content;
  cursor: pointer;
}
